/* Erika Hamilton */
/* mainstyle.css */
html {
  height: 100%;
  background-color: #E8DDC2;
  border-left: 4px;
  border-right: 4px;
  border-top: 0px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #DDA15E;
}
li {
  display: inline-block;
  letter-spacing: 1px;
  padding: 10px;
}

li a {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #FF7F7F;
}
.header {
  /* text-shadow: 1px 2px 2px RGBA(255,255,255,0.5); */
  letter-spacing: 2px;
  display: inline-block;
  width: 100%;
  vertical-align: center;
  padding-bottom: 20px;
  height: 70px;
  vertical-align: top;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  z-index: 500;
  background-color: RGBA(8,14,17,0.86);
  color: #E8DDC2;
}
.header ul {
  margin: 0px;
  float: right;
  list-style-type: none;
  display: inline-block;
  padding-top: 30px;
  padding-right: 20px;
  color: #E8DDC2;


}

.degrees {
  display: inline-block;
  margin-right: 20px;
  margin-top: 15px;
  height: 100px;
  padding-left: 10px;
}

.wrapper {
  margin-top: 115px;
  padding: 0px;

}
h1 {
  font-size: 50px;
}

.container {

  /* background-image: url("escheresque.png");
  background-repeat: repeat; */
}
 #headshot {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    float: left;
    width: 32%;
    height: 40%;
    align: left;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
a:hover {
  color: #8BD6CE;
  transition:0.5s color ease;
}
.footer {
  /* background-image: url("escheresque-dark.png");
  background-repeat: repeat; */
  background-color:
  bottom: 0;
  vertical-align: baseline;
  padding: 10px;
  padding-bottom: -10px;
  margin: 3px;
  background-color: RGBA(8,14,17,0.86);
  color: #E8DDC2;

}
.footer p {
  text-align: right;
}
/* each div needs 3 styles */
